// ===== Sidebar =====
$sidebar-color: #FAF7F8;
$sidebar-font-color: #454545;

// ===== Main page =====
$body-background-color: #FFFFFF;
$body-text-color: #353535;

// ===== Links =====
$link-color: #B76E8B;
$nav-child-link-color: #6A6A6A;

// ===== Buttons =====
$btn-primary-color: #C987A0;

// ===== Search =====
$search-background-color: #FFFDFE;

// ===== Code blocks (used for callouts too) =====
$code-background-color: #F7F3F5;

// ===== Borders =====
$border-color: #E9E4E6;



// $link-color: #A05C7A;
// $btn-primary-color: #A05C7A;

// $sidebar-color: #F8F7F8;

// $body-background-color: #FFFFFF;

// $body-text-color: #2F2F2F;

// $border-color: #E3E3E3;